# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
env/
.venv/
venv/

# Distribution / build
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Plots / output
*.png
*.jpg
*.csv
*.npy

# Allow images in docs
!docs/task1_images/*.png
!docs/task1_images/*.jpg
!docs/task2_images/*.png
!docs/task2_images/*.jpg

# MuJoCo
*.mjb
MUJOCO_LOG.TXT

# macOS
.DS_Store

# IDE
.vscode/
.idea/